@font-face {
  font-family: Arturo-Heavy Outline;
  src: url(Arturo-Heavy\ Outline\ Trial.ttf);
}
@font-face {
  font-family: comic_andy;
  src: url(comic_andy.ttf);
}
:root {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html {
  background-color: rgb(49, 169, 209);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-main {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
}
.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
details:hover {
  cursor: pointer;
}
details summary:hover {
  text-decoration: underline;
}
.game {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-main button {
  background: transparent;
  border: none;
  font-size: 0;
  border-radius: 20px;
}
.grid-main button img {
  width: 10rem;
  height: 10rem;
}
.title {
  font-size: 10rem;
  color: white;
  font-family: comic_andy;
  margin-top: -2rem;
  
}
#timer {
  color: red;
  font-size: 3rem;
  display: none;
  z-index: 2;
}
.game button {
  background: white;
  border: revert;
  font-size: 1rem;
  border-radius: revert;
}
  